.events-below {
  position: relative;
  margin: 100px auto;
}

.events-above {
  background: #ffbf17;
  color: #000;
  display: flex;
  padding: 40px 40px;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  height: 40%;
  left: 680px;
  top: 180px;
  position: absolute;
}
.events-above h3 {
  color: #000;
  font-family: "Montserrat";
  font-size: 32px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 119%;
}
.events-above p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.events-above-link {
  border-bottom: 3px solid #bdbaba;
  width: fit-content;
}
.events-above-link:hover {
  border-bottom: 3px solid #fff;
  width: fit-content;
}
.events-above-link-n {
  border-bottom: 3px solid #eadaaf;
  width: fit-content;
}
.events-above-link-n:hover {
  border-bottom: 3px solid #fec72d;
  transition: 0.8s;
  width: fit-content;
}
.events-above-link > a {
  padding: 4px 0;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #000;
  font-family: "Montserrat";
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.5px; /* 102.5% */
}
.events-above-link-n > a {
  padding: 4px 0;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #000;
  font-family: "Montserrat";
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.5px; /* 102.5% */
}

.our-cards {
  width: 100%;
  height: 327px;
  position: relative;
}
.our-cards-desc {
  position: relative;
  width: 80%;
  margin: -100px auto 40px auto;
  background-color: #fff;
  padding: 22px 34px;
  height: 34%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-cards-desc h5 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 38.5px;
}

.our-container {
  margin-bottom: 100px;
}
