@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  text-align: left;
  width: 50%;
  height: 200px;
  margin: 40px 80px 40px 80px;
}

.hero-text {
  color: #050505;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
}

.hero-bg {
  background: #1a1547;
  padding: 30px 85px 30px 85px;
}

.hero-desc {
  color: #fff;
  display: flex;
  height: 90%;
  width: 87%;
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat;
}

.hero-desc h3 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}
.hero-desc:nth-child(1) {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.hero-desc h3 span {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
.desc-para {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}
