.our-container {
  margin: 100px 0;
}
.our-container > div {
  padding-right: 30px;
}
.our-cards {
  position: relative;
  height: 210px;
  width: 100%;
}
.our-cards-desc a {
  text-decoration: none;
}
.our-cards-desc p {
  border-bottom: 3.5px solid #ffbf17;
  width: fit-content;
  color: #050505;
  font-size: 30px;
  padding-top: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  font-family: "Montserrat", sans-serif;
}
.our-cards-desc:hover {
  background-color: #ffbf17;
  width: 100%;
  transition: 0.5s;
}
