.our-container {
  margin: 60px 0;
}
.our-cards:after {
  content: "";
  clear: both;
}
.our-cards-desc {
  margin-top: -13px;
}
.our-cards-desc a {
  text-decoration: none;
}
.our-cards-desc p {
  border-bottom: 3.5px solid #ffbf17;
  width: fit-content;
  color: #050505;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding-top: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.our-cards-desc:hover {
  background-color: #ffbf17;
  transition: 0.5s;
}
